<template>
  <div class="ward">Ward {{ $route.params.id }}</div>
</template>

<script>
export default {
  name: 'WardPage',
  asyncData() {
    return {
      index: 1,
    }
  },
  head() {
    return {
      title: this.$route.params.id,
    }
  },
}
</script>
